:root {
    --theme-color: hsla(120, 100%, 50%, 1);
    --lowAlpha-color: hsla(120, 100%, 50%, 0.5);
    --filter: hue-rotate();
    --opposite-color: hsla(300, 100%, 50%, 1);
    --opposite-lowAlpha: hsla(300, 100%, 50%, 0.5);
    --opposite-filter: hue-rotate(180deg);
}

.gameContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.queueContainer {
    width: 100%;
    height: 100%;
    display: flex;
}

.p1OptionsContainer {
    flex: 1.3;
    display: flex;

    background: rgb(144, 144, 144);
    background: radial-gradient(
        circle,
        rgba(144, 144, 144, 1) 0%,
        rgba(140, 140, 140, 1) 11%,
        rgba(136, 136, 136, 1) 21%,
        rgba(144, 144, 144, 1) 69%,
        rgba(138, 138, 138, 1) 87%,
        rgba(168, 168, 168, 1) 100%
    );
    min-height: 200px;
    border-bottom: 10px solid rgb(83, 83, 83);
    border-right: 10px solid rgb(126, 126, 126);
    border-top: 10px solid rgb(163, 163, 163);
    border-left: 10px solid rgb(145, 145, 145);
    box-shadow: 0 0 15px 5px black;
    z-index: 1;
}
.p1GridContainer {
    flex: 3;

    background-color: transparent;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.radarContainer {
    border-bottom: 5px solid lightgrey;
    border-right: 5px solid lightgrey;
    border-top: 5px solid rgb(109, 109, 109);
    border-left: 5px solid rgb(107, 107, 107);
}

.radar {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    margin: 0;
    padding: 0;
    width: 263px;
    height: 100%;
    border-radius: 50%;
    border: 10px solid #6d6d6d;
    background-color: black;
    box-shadow: 3px 10px 0 #c5c5c5, inset 0 0 50px var(--lowAlpha-color),
        -5px -5px 20px black;
    overflow: hidden;
}

.radar li:nth-child(1),
.radar li:nth-child(2),
.radar li:nth-child(3),
.radar li:nth-child(4) {
    list-style: none;
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100%;
    background: var(--theme-color);
    border-radius: 50%;
}
.radar li:nth-child(2) {
    transform: rotate(90deg);
}
.radar li:nth-child(3) {
    transform: rotate(45deg);
}
.radar li:nth-child(4) {
    transform: rotate(-45deg);
}

.radar li:nth-child(5),
.radar li:nth-child(6) {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--theme-color);
    background: transparent;
    border-radius: 50%;
}

.radar li:nth-child(5) {
    width: 75px;
    height: 75px;
}

.radar li:nth-child(6) {
    width: 175px;
    height: 175px;
}

.radar li:nth-child(7) {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--theme-color) 0%, transparent 50%);
    animation: radar 2s linear infinite;
    transform-origin: top left;
}

.enemyPing0 {
    list-style: none;
    position: absolute;
    top: 40%;
    left: 87%;
    width: 8px;
    height: 8px;
    background: var(--theme-color);
    border-radius: 50%;
    filter: blur(2px);
    animation: glow 2s linear infinite;
}
.enemyPing1 {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 90%;
    width: 8px;
    height: 8px;
    background: var(--theme-color);
    border-radius: 50%;
    filter: blur(2px);
    animation: glow 2s linear infinite;
}
.enemyPing2 {
    list-style: none;
    position: absolute;
    top: 45%;
    left: 85%;
    width: 8px;
    height: 8px;
    background: var(--theme-color);
    border-radius: 50%;
    filter: blur(2px);
    animation: glow 2s linear infinite;
}
.enemyPing3 {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 80%;
    width: 8px;
    height: 8px;
    background: var(--theme-color);
    border-radius: 50%;
    filter: blur(2px);
    animation: glow 2s linear infinite;
}
.enemyPing4 {
    list-style: none;
    position: absolute;
    top: 40%;
    left: 80%;
    width: 8px;
    height: 8px;
    background: var(--theme-color);
    border-radius: 50%;
    filter: blur(2px);
    animation: glow 2s linear infinite;
}

.friendlyPing0 {
    list-style: none;
    position: absolute;
    top: 43%;
    left: 42%;
    width: 8px;
    height: 8px;
    background: var(--theme-color);
    border-radius: 50%;
    filter: blur(2px);
    animation: glow 2s linear infinite;
}

.friendlyPing1 {
    list-style: none;
    position: absolute;
    top: 47%;
    left: 45%;
    width: 8px;
    height: 8px;
    background: var(--theme-color);
    border-radius: 50%;
    filter: blur(2px);
    animation: glow 2s linear infinite;
}
.friendlyPing2 {
    list-style: none;
    position: absolute;
    top: 55%;
    left: 50%;
    width: 8px;
    height: 8px;
    background: var(--theme-color);
    border-radius: 50%;
    filter: blur(2px);
    animation: glow 2s linear infinite;
}
.friendlyPing3 {
    list-style: none;
    position: absolute;
    top: 45%;
    left: 55%;
    width: 8px;
    height: 8px;
    background: var(--theme-color);
    border-radius: 50%;
    filter: blur(2px);
    animation: glow 2s linear infinite;
}
.friendlyPing4 {
    list-style: none;
    position: absolute;
    top: 43%;
    left: 50%;
    width: 8px;
    height: 8px;
    background: var(--theme-color);
    border-radius: 50%;
    filter: blur(2px);
    animation: glow 2s linear infinite;
}

@keyframes radar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes glow {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.buttonContainer {
    display: flex;
    border-bottom: 5px solid lightgrey;
    border-right: 5px solid lightgrey;
    border-top: 5px solid rgb(90, 90, 90);
    border-left: 5px solid rgb(107, 107, 107);
}

.leftButtonContainer,
.middleButtonContainer,
.rightButtonContainer {
    display: flex;
    border-bottom: 5px solid lightgrey;
    border-right: 5px solid lightgrey;
    border-top: 5px solid rgb(83, 83, 83);
    border-left: 5px solid rgb(107, 107, 107);
}

.base {
    background: #cacaca;
    width: 100%;
    border-radius: 27vmin;
    box-shadow: 0 6vmin 0.15vmin 0vmin rgb(92, 92, 92),
        0 4vmin 0.15vmin 0vmin rgb(92, 92, 92),
        0 2vmin 0.15vmin 0vmin rgb(92, 92, 92),
        20px 100px 80px rgba(0, 0, 0, 0.726),
        80px 160px 100px rgba(0, 0, 0, 0.507);
    padding: 0vmin 2vmin 2vmin 2vmin;
    transform: rotateX(0deg) rotateZ(0deg);
    margin-top: -4.5vmin;
    height: 90%;
}

button#activate {
    background: #d60505;
    border: 0;
    width: 20vmin;
    height: 19vmin;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4vmin 0.15vmin 0vmin #af0000, 0 2vmin 0.15vmin 0vmin #af0000;
    top: -2.5vmin;
    border: 0.5vmin solid #af0000a1;
    transition: all 0.25s ease 0s;
}

button#activate:hover {
    box-shadow: 0 3vmin 0.15vmin 0vmin #af0000, 0 1vmin 0.15vmin 0vmin #af0000;
    top: -1.5vmin;
    transition: all 0.5s ease 0s;
}
button#activate:active,
button#activate.pushed {
    box-shadow: 0 1vmin 0.15vmin 0vmin #af0000, 0 1vmin 0.15vmin 0vmin #af0000;
    top: 0.5vmin;
    transition: all 0.25s ease 0s;
}
button#activate.pushed {
    box-shadow: 0 0 20px 10px #ff3c3c, 0 0 100px 50px #ff2828;
    background: #ff0000;
    border-bottom: 3px solid #00000020;
}

.base {
    scale: 0.3;
}
.rightButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid rgb(187, 186, 186);
    border-right: 5px solid rgb(190, 190, 190);
    border-top: 5px solid rgb(87, 87, 87);
    border-left: 5px solid rgb(122, 122, 122);
}
.middleButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid rgb(182, 182, 182);
    border-right: 5px solid rgb(180, 180, 180);
    border-top: 5px solid rgb(80, 80, 80);
    border-left: 5px solid rgb(119, 119, 119);
}
.leftButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid rgb(184, 184, 184);
    border-right: 5px solid rgb(182, 181, 181);
    border-top: 5px solid rgb(90, 90, 90);
    border-left: 5px solid rgb(119, 118, 118);
}

.buttonText {
    background-color: #6d6d6d;
    padding: 1rem 2rem;
    font-family: BlackOps1;
    font-size: 1.3rem;
    border-radius: 15%;
    box-shadow: 0 0 10px black;
    position: relative;
    color: white;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    text-shadow: -1px -1px 1px black;
}
.buttonText::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2b2b2b;
    position: absolute;
    top: 25px;
    left: 5px;
    box-shadow: 0 0 3px black;
}
.buttonText::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2b2b2b;
    position: absolute;
    top: 25px;
    right: 5px;
    box-shadow: 0 0 3px black;
}

.middleButton .buttonText {
    padding: 1rem 1.1rem;
}

.p1ShipStage {
    flex: 5;
    border-bottom: 8px solid rgb(158, 158, 158);
    border-right: 8px solid rgb(199, 198, 198);
    border-top: 8px solid rgb(68, 68, 68);
    border-left: 8px solid rgb(107, 107, 107);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shipContainer {
    flex: 1;

    border-bottom: 5px solid lightgrey;
    border-right: 5px solid rgb(243, 243, 243);
    border-top: 5px solid rgb(58, 58, 58);
    border-left: 5px solid rgb(80, 79, 79);
    background-color: black;
    box-shadow: inset 0 0 50px var(--lowAlpha-color);
    display: flex;
    overflow: hidden;
}

.shipQueue {
    padding: 20px;
    flex: 3;
    display: flex;
    gap: 18%;
    justify-content: flex-end;
    align-items: center;
    filter: blur(5px);
}
.nextShipContainer {
    margin: 10px;
    height: 90%;
    width: 220px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px var(--lowAlpha-color),
        inset 0 0 10px var(--lowAlpha-color);
}
.hideNext {
    box-shadow: none;
}

.nextShipContainer:hover {
    box-shadow: 0 0 10px var(--theme-color), inset 0 0 10px var(--theme-color);
}

.nextShip:hover {
    transform: scale(1.1);
}

.nextShip {
    cursor: pointer;
}

.CarrierContainer,
.BattleshipContainer,
.DestroyerContainer,
.SubmarineContainer,
.Patrol-BoatContainer {
    display: flex;
    flex-direction: column;
}

#CarrierOverlay,
#BattleshipOverlay,
#DestroyerOverlay,
#SubmarineOverlay,
#Patrol-BoatOverlay {
    object-fit: contain;
    filter: var(--filter);
}

.AIBoardContainer #CarrierOverlay,
.AIBoardContainer #BattleshipOverlay,
.AIBoardContainer #DestroyerOverlay,
.AIBoardContainer #SubmarineOverlay,
.AIBoardContainer #Patrol-BoatOverlay {
    filter: var(--opposite-filter);
}

#Carrier,
#Battleship,
#Destroyer,
#Submarine,
#Patrol-Boat {
    position: relative;
}

.shipOverlay {
    position: absolute;
    top: -20%;
    left: 20%;
    height: 30px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.8);
    pointer-events: none;
    background: transparent;
}

.shipOverlayPulse {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    transform: scale(1);
    animation: pulse 0.7s ease-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: inset 0 0 5px var(--lowAlpha-color),
            0 0 5px var(--lowAlpha-color);
    }

    50% {
        transform: scale(1.4);
        box-shadow: inset 0 0 5px var(--lowAlpha-color),
            0 0 5px var(--lowAlpha-color);
    }

    100% {
        transform: scale(1.8);
        box-shadow: inset 0 0 5px var(--lowAlpha-color),
            0 0 5px var(--lowAlpha-color);
    }
}

.shipOverlay.vertical {
    transform: rotate(90deg) scale(5);
    left: 20%;
    top: 42%;
    width: 30px;
    height: auto;
    /* animation: rotate 0.4s ease-in-out; */
}

/* .shipOverlay.horizontal {
    animation: rotate1 0.4s ease-in-out;
}

@keyframes rotate {
    0% {
        transform: scale(5.5) rotate(0deg);
    }
    100% {
        transform: scale(5) rotate(90deg);
    }
}

@keyframes rotate1 {
    0% {
        transform: scale(1.6) rotate(90deg);
    }
    100% {
        transform: scale(1.8) rotate(0deg);
    }
} */

#Patrol-BoatOverlay.vertical {
    transform: rotate(90deg) scale(3);
}

.shipTile {
    width: 30px;
    height: 30px;
}

.ship {
    display: flex;
    flex-direction: column;
}
.ship.horizontal {
    flex-direction: row;
}

.game {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.boardBorder {
    margin-top: auto;
    position: relative;
    border-bottom: 15px solid rgb(116, 116, 116);
    border-right: 20px solid rgb(138, 137, 137);
    border-top: 20px solid rgb(117, 117, 117);
    border-left: 20px solid rgb(102, 102, 102);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 15px black;
    z-index: 2;
}

.board {
    position: relative;
    border-bottom: 15px solid rgb(155, 155, 155);
    border-right: 20px solid rgb(182, 182, 182);
    border-top: 20px solid rgb(53, 53, 53);
    border-left: 20px solid rgb(75, 75, 75);
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 0 140px var(--lowAlpha-color);

    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(10, 50px);
    overflow: hidden;
}

.playerBoardContainer {
    margin-top: auto;
}
.AIBoardContainer {
    margin-top: auto;
}

.AIBoardContainer .board {
    box-shadow: inset 0 0 140px var(--opposite-lowAlpha);
}

.shadowGrid {
    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(10, 50px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

#Carrier.boardShip img,
#Battleship.boardShip img,
#Destroyer.boardShip img,
#Submarine.boardShip img,
#Patrol-Boat.boardShip img {
    pointer-events: all;
}

#Carrier.boardShip:hover,
#Battleship.boardShip:hover,
#Destroyer.boardShip:hover,
#Submarine.boardShip:hover,
#Patrol-Boat.boardShip:hover {
    pointer-events: all;
    box-shadow: inset 0 0 20px var(--lowAlpha-color);
}

.tile {
    height: 30px;
    width: 30px;
}

.AIBoardContainer {
    margin-top: auto;
}

.cell {
    border: 1px solid var(--lowAlpha-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cell:hover {
    box-shadow: inset 0 0 20px var(--lowAlpha-color);
}

.cell.hit::after {
    content: "";
    background-color: var(--opposite-lowAlpha);
    box-shadow: 0 0 15px var(--opposite-lowAlpha);
    width: 26px;
    height: 26px;
    border-radius: 50%;
    opacity: 60%;
}

.cell.hit::before {
    position: absolute;
    content: "";
    border: 3px solid var(--opposite-lowAlpha);
    box-shadow: inset 0 0 15px var(--opposite-lowAlpha),
        0 0 15px var(--opposite-lowAlpha);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 60%;
    margin-left: auto;
    margin-right: auto;
}

.cell.miss::before {
    content: "";
    border: 3px solid var(--lowAlpha-color);

    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 70%;
    box-shadow: inset 0 0 15px var(--lowAlpha-color),
        0 0 15px var(--lowAlpha-color);
    margin-left: auto;
    margin-right: auto;
    filter: blur(1.5px);
}

.AIBoardContainer .cell {
    border: 1px solid var(--opposite-lowAlpha);
    cursor: crosshair;
}
.AIBoardContainer .cell.miss::before {
    border: 3px solid var(--opposite-lowAlpha);
    box-shadow: inset 0 0 10px var(--opposite-lowAlpha),
        0 0 10px var(--opposite-lowAlpha);
}

.AIBoardContainer .cell.hit::after {
    background-color: var(--lowAlpha-color);
    box-shadow: 0 0 15px var(--lowAlpha-color);
}

.AIBoardContainer .cell.hit::before {
    border: 3px solid var(--lowAlpha-color);
    box-shadow: inset 0 0 15px var(--lowAlpha-color),
        0 0 15px var(--lowAlpha-color);
}

.cell.pulse::before {
    animation: pulse2 1s linear;
}

@keyframes pulse2 {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(3);
    }

    50% {
        transform: scale(1);
    }
    90% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
    }
}

.cell[data-col="0"] {
    border-left: none;
}
.cell[data-col="9"] {
    border-right: none;
}
.cell[data-row="0"] {
    border-top: none;
}
.cell[data-row="9"] {
    border-bottom: none;
}

.shipOverlay {
    position: absolute;
    top: -20%;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.8);
    pointer-events: none;
    background: transparent;
}

#Submarine img.horizontal {
    left: -5%;
}

.shipOverlay.vertical {
    transform: rotate(90deg) scale(5);
    left: 20%;
    top: 42%;
}

.boardShip {
    z-index: 9;
}

.boardShip img {
}

#Carrier.boardShip img.vertical {
    transform: rotate(90deg) scale(8, 6);
    left: 33%;
    top: 48%;
}

#Battleship.boardShip img.vertical {
    transform: rotate(90deg) scale(6.5, 5);
    left: 18%;
    top: 47%;
}

#Destroyer.boardShip img.vertical {
    top: 46%;
    left: 24%;
}

#Submarine.boardShip img.vertical {
    transform: rotate(90deg) scale(6, 8);
    top: 43%;
    left: -3%;
}

#Carrier.boardShip img.horizontal {
    transform: scale(2.6, 2);
    top: 8%;
    left: 32%;
}
#Battleship.boardShip img.horizontal {
    transform: scale(2.2, 2);
    top: 15%;
    left: 28%;
}

#Destroyer.boardShip img.horizontal {
    transform: scale(2.3, 2.5);
    top: 15%;
    left: 28%;
}

#Submarine.boardShip img.horizontal {
    transform: scale(2, 2.6);
    top: 40%;
    left: 17%;
}

#Patrol-Boat.boardShip img.horizontal {
    top: 15%;
}
.tile.onBoard {
    height: 50px;
    width: 50px;
}

.draggedOver {
    background-color: green;
}

.invalid {
    background-color: #ff0000;
}

.valid {
    background-color: green;
}

.optionsContainer {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 10px solid rgb(114, 114, 114);
    border-right: 10px solid rgb(87, 87, 87);
    border-top: 10px solid rgb(119, 119, 119);
    border-left: 10px solid rgb(155, 155, 155);
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 15px black;
}
.optionsHousing {
    border-bottom: 10px solid lightgrey;
    border-right: 10px solid rgb(187, 187, 187);
    border-top: 10px solid rgb(87, 87, 87);
    border-left: 10px solid rgb(107, 107, 107);
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-shadow: inset 0 0 20px var(--lowAlpha-color);
}

.hueSlider {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 100%;
    height: 25px;
    border-radius: 10px;
    box-shadow: inset 0 0 5px var(--theme-color), 0 0 5px var(--theme-color);
    outline: none;
    opacity: 0.7;
    padding: 0 10px;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.hueSlider:hover {
    opacity: 1;
}

.hueSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--theme-color);
    border-radius: 50%;
    cursor: pointer;
    filter: blur(1px) hue-rotate(180deg);
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: var(--theme-color);
    border-radius: 50%;
    cursor: pointer;
    filter: blur(1px) hue-rotate(180deg);
}

#videoBtn {
    margin: 10px;
    width: 40px;
    height: 40px;
    border: 4px solid var(--theme-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 50%;
    filter: blur(1px);
    opacity: 0.8;
    cursor: pointer;
}

#videoBtn:hover {
    opacity: 1;
}

#videoBtn.pause::before {
    content: "";
    width: 5px;
    height: 20px;

    background-color: var(--theme-color);
}

#videoBtn.pause::after {
    content: "";
    width: 5px;
    height: 20px;

    background-color: var(--theme-color);
}

#videoBtn.play::after {
    content: "";
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid var(--theme-color);
    position: absolute;
    right: -3px;
}

.shipFooter {
    border-bottom: 5px solid lightgrey;
    border-right: 5px solid lightgrey;
    border-top: 5px solid rgb(109, 109, 109);
    border-left: 5px solid rgb(107, 107, 107);
    background-color: black;
    box-shadow: inset 0 0 20px var(--lowAlpha-color);
    overflow: hidden;
}

.stagePara {
    font-family: PressStart;
    margin: 1rem;
    font-size: 1rem;
    color: var(--theme-color);
    font-weight: 100;
    white-space: nowrap;
    border-right: 1rem solid transparent;
    overflow: hidden;
    animation: typing 2.5s steps(40, end), blink-caret2 1s step-end infinite;
}

@keyframes blink-caret2 {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: var(--theme-color);
    }
}

.wavesAlt {
    position: absolute;
    width: 100vw;
    height: 100vh;

    top: -100px;
}

.wavesAlt.animate {
    animation: wave 10s ease-in-out infinite;
}
.shipBow {
    position: absolute;
    width: 70%;
    height: 3000px;
    background: rgb(78, 78, 78);
    background: linear-gradient(
        90deg,
        rgba(78, 78, 78, 1) 0%,
        rgba(194, 194, 194, 1) 50%,
        rgba(84, 84, 84, 1) 100%
    );
    top: -400px;

    border-top-left-radius: 70% 100%;
    border-top-right-radius: 70% 100%;
    border-bottom-left-radius: 10% 30%;
    border-bottom-right-radius: 10% 30%;
    transform: rotateX(60deg);
}
.shipBowWood {
    position: absolute;
    width: 70%;
    height: 3000px;
    background: rgb(119, 57, 0);
    background: radial-gradient(
        circle,
        rgba(119, 57, 0, 1) 0%,
        rgba(164, 79, 0, 1) 46%,
        rgba(119, 57, 0, 1) 100%
    );

    top: -640px;
    left: 160px;

    border-top-left-radius: 70% 100%;
    border-top-right-radius: 70% 100%;
    border-bottom-left-radius: 10% 30%;
    border-bottom-right-radius: 10% 30%;
    transform: rotateX(60deg);
}

.flakBarrel1,
.flakBarrel2,
.flakBarrel3,
.flakBarrel4,
.flakBarrel5,
.flakBarrel6 {
    position: absolute;
    width: 20px;
    height: 300px;
    border-top-left-radius: 30% 100%;
    border-top-right-radius: 30% 100%;
    background: rgb(78, 78, 78);
    background: linear-gradient(
        90deg,
        rgba(78, 78, 78, 1) 0%,
        rgba(166, 166, 166, 1) 50%,
        rgba(84, 84, 84, 1) 100%
    );
    transform: rotate(20deg);
}

.flakBarrel1 {
    top: -150px;
    left: 555px;
}
.flakBarrel2 {
    top: -150px;
    left: 605px;
}
.flakBarrel3 {
    top: -150px;
    left: 655px;
}
.flakBarrel4 {
    top: -90px;
    left: 555px;
}
.flakBarrel5 {
    top: -95px;
    left: 605px;
}
.flakBarrel6 {
    top: -95px;
    left: 655px;
}

.flakCover {
    background: rgb(78, 78, 78);
    background: linear-gradient(
        90deg,
        rgba(78, 78, 78, 1) 0%,
        rgba(166, 166, 166, 1) 50%,
        rgba(84, 84, 84, 1) 100%
    );
    top: 150px;
    left: 450px;
    position: absolute;
    width: 200px;
    height: 200px;
}
.flakCoverTop {
    background: rgb(78, 78, 78);
    background: rgb(158, 158, 158);
    background: radial-gradient(
        circle,
        rgba(158, 158, 158, 1) 1%,
        rgba(113, 113, 113, 1) 47%,
        rgba(112, 112, 112, 1) 99%
    );

    top: 100px;
    left: 450px;
    position: absolute;
    width: 200px;
    height: 100px;
    border-radius: 50%;
}

@keyframes wave {
    0% {
    }
    50% {
        transform: translateY(-15%);
    }
    100% {
    }
}
.AIStage {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid rgb(114, 114, 114);
    border-right: 5px solid rgb(87, 87, 87);
    border-top: 5px solid rgb(119, 119, 119);
    border-left: 5px solid rgb(155, 155, 155);
}

.playerStage {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid rgb(114, 114, 114);
    border-right: 5px solid rgb(87, 87, 87);
    border-top: 5px solid rgb(119, 119, 119);
    border-left: 5px solid rgb(155, 155, 155);
}

.playerStage .shipFooter {
    flex: 1;
    display: flex;
    align-items: center;
}

.AIScoreContainer {
    height: 70%;
    display: flex;
}

.playerScoreContainer {
    height: 70%;
    display: flex;
}
.scoreContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    border-bottom: 5px solid rgb(114, 114, 114);
    border-right: 5px solid rgb(87, 87, 87);
    border-top: 5px solid rgb(119, 119, 119);
    border-left: 5px solid rgb(155, 155, 155);
    background-color: black;
    box-shadow: inset 0 0 40px var(--lowAlpha-color);
    padding: 0.8rem;
}
.scoreContainer.AIScore {
    box-shadow: inset 0 0 40px var(--opposite-lowAlpha);
}

.shipCol {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--lowAlpha-color);
    border-right: 1px solid var(--lowAlpha-color);
    cursor: pointer;
}

.AIStage .shipCol {
    border-left: 1px solid var(--opposite-lowAlpha);
    border-right: 1px solid var(--opposite-lowAlpha);
}

.shipCol img:hover {
    transform: scale(1.2);
}

.shipCol img {
    width: 80%;
    height: 80%;
    filter: var(--filter);
}

.AIStage .shipCol img {
    filter: var(--opposite-filter);
}

.topSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33%;
}

.midSection {
    height: 34%;
    font-family: PressStart;
    font-size: 0.9rem;
    color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.AIScore .midSection {
    color: var(--opposite-color);
}

.AIStage .optionsHousing {
    box-shadow: inset 0 0 20px var(--opposite-lowAlpha);
}

.botSection {
    height: 33%;
}

.shipCol.shipSunk {
    border-left: 1px solid var(--opposite-lowAlpha);
    border-right: 1px solid var(--opposite-lowAlpha);
}

.shipCol.shipSunk .midSection {
    color: var(--opposite-color);
}
.shipCol.shipSunk img {
    filter: var(--opposite-filter);
}

.AIStage .shipCol.shipSunk {
    border-left: 1px solid var(--lowAlpha-color);
    border-right: 1px solid var(--lowAlpha-color);
}

.AIStage .shipCol.shipSunk .midSection {
    color: var(--theme-color);
}
.AIStage .shipCol.shipSunk img {
    filter: var(--filter);
}

.shipCol:nth-child(1) {
    border-left: none;
}

.shipCol:nth-child(5) {
    border-right: none;
}

.optionsContainer.inGame {
    position: static;
    border-bottom-left-radius: 0;
    box-shadow: none;
    border-bottom: 5px solid rgb(114, 114, 114);
    border-right: 5px solid rgb(87, 87, 87);
    border-top: 5px solid rgb(119, 119, 119);
    border-left: 5px solid rgb(155, 155, 155);
    display: flex;
    flex: 1;
}

.inGame .optionsHousing {
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    padding: 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* .optionsContainer {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 10px solid rgb(114, 114, 114);
    border-right: 10px solid rgb(87, 87, 87);
    border-top: 10px solid rgb(119, 119, 119);
    border-left: 10px solid rgb(155, 155, 155);
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 15px black;
}
.optionsHousing {
    border-bottom: 10px solid lightgrey;
    border-right: 10px solid rgb(187, 187, 187);
    border-top: 10px solid rgb(87, 87, 87);
    border-left: 10px solid rgb(107, 107, 107);
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-shadow: inset 0 0 20px var(--lowAlpha-color);
} */

@media (min-width: 1800px) {
    .flakBarrel1,
    .flakBarrel2,
    .flakBarrel3,
    .flakBarrel4,
    .flakBarrel5,
    .flakBarrel6,
    .flakCover,
    .flakCoverTop {
        transform: translate(100px, -50px);
    }
    .flakBarrel1,
    .flakBarrel2,
    .flakBarrel3,
    .flakBarrel4,
    .flakBarrel5,
    .flakBarrel6 {
        transform: translate(100px) rotate(20deg);
    }
    .shipBowWood {
        left: 190px;
    }
}

@media (max-width: 1600px) {
    .flakBarrel1,
    .flakBarrel2,
    .flakBarrel3,
    .flakBarrel4,
    .flakBarrel5,
    .flakBarrel6,
    .flakCover,
    .flakCoverTop {
        transform: translate(-20px, 0px);
    }
    .flakBarrel1,
    .flakBarrel2,
    .flakBarrel3,
    .flakBarrel4,
    .flakBarrel5,
    .flakBarrel6 {
        transform: translate(-20px, 0px) rotate(20deg);
    }
}

@media (max-width: 1550px) {
    .flakBarrel1,
    .flakBarrel2,
    .flakBarrel3,
    .flakBarrel4,
    .flakBarrel5,
    .flakBarrel6,
    .flakCover,
    .flakCoverTop {
        transform: translate(-50px, 0px);
    }
    .flakBarrel1,
    .flakBarrel2,
    .flakBarrel3,
    .flakBarrel4,
    .flakBarrel5,
    .flakBarrel6 {
        transform: translate(-50px, 0px) rotate(20deg);
    }
}

@media (max-width: 1500px) {
    .waves {
        top: 50px;
        transform: scale(1.5);
    }
}

@media (max-width: 1200px) {
    .buttonContainer {
        position: fixed;
        flex-direction: column;
        right: 0;
        top: 0;
        background-color: grey;
        transform: scale(0.8);
    }

    .flakBarrel1,
    .flakBarrel2,
    .flakBarrel3,
    .flakBarrel4,
    .flakBarrel5,
    .flakBarrel6 {
        transform: translate(-150px, 0px) rotate(20deg);
    }
    .flakCover,
    .flakCoverTop {
        transform: translate(-150px);
    }
    .shipBowWood {
        left: 100px;
    }
    .waves {
        top: 50px;
        transform: scale(2);
    }
    .radarContainer {
        position: fixed;
        top: -20px;
        left: -50px;
        height: 300px;
        width: 350px;
        background-color: transparent;
        transform: scale(0.7);
        border: none;
    }
}

@media (max-width: 950px) {
    .radarContainer {
        transform: scale(0.5);
        top: -50px;
        left: -80px;
    }

    .buttonContainer {
        position: static;
        flex-direction: row;
        width: 100%;
    }
    .p1OptionsContainer {
        flex-direction: column;

        overflow: hidden;
        height: 60vh;
    }

    .p1GridContainer {
        display: flex;
        flex: 1;
        padding: 0;
        margin: 0;
    }

    .board {
        margin-top: none;
        grid-template-rows: repeat(10, 30px);
        grid-template-columns: repeat(10, 30px);
    }
    .cell {
        width: 30px;
        height: 30px;
    }
    .radarContainer {
        top: auto;
        left: auto;
        bottom: -50px;
        right: -100px;
        z-index: 5;
    }
}

@media (max-width: 600px) {
    .radarContainer {
        display: none;
    }
}
