@font-face {
    font-family: Kalam;
    src: url("../assets/fonts/Kalam-Regular.ttf");
}

.map {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("../assets/images/map.jpg");
    background-size: cover;
    background-position: center;
    animation: unblur 0.5s linear;
    animation-fill-mode: forwards;
}

@keyframes unblur {
    0% {
    }
    100% {
        filter: blur(0);
    }
}
.redPin1 {
    position: absolute;
    top: 41%;
    left: 63%;
    cursor: pointer;
    opacity: 1;
    filter: hue-rotate(130deg);
}

.redPin1::before {
    content: "";
    width: 300px;
    height: 300px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 80%;
    z-index: 9;
}

.redPin2 {
    position: absolute;
    top: 19%;
    left: 57%;
    cursor: pointer;
    opacity: 1;
    filter: hue-rotate(70deg) brightness(2);
}
.redPin3 {
    position: absolute;
    top: 40%;
    left: 81%;
    cursor: pointer;
    opacity: 1;
}

.redPin1:hover {
    filter: hue-rotate(130deg) brightness(1.4);
}
.redPin2:hover {
    filter: hue-rotate(70deg) brightness(2.4);
}
.redPin3:hover {
    filter: brightness(1.4);
}

.noteContainer {
    width: 600px;
    height: 600px;
    position: fixed;
    top: 15%;
    left: 5%;
    transform: rotate(-4deg);
    animation: fly 0.1s linear;

    display: flex;
    justify-content: center;
    align-items: center;
}
.paraContainer {
    position: absolute;
    top: 20%;
    left: 30%;
    font-family: Kalam;

    width: 260px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.247);
}

.paraContainer p:nth-child(1) {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.paraContainer p:nth-child(2) {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.paraContainer p:nth-child(3) {
    font-size: 1.1rem;

    margin-bottom: 0.5rem;
}

.paraContainer p:nth-child(4) {
    line-height: 2rem;
}

.stickyNote {
    position: fixed;
    top: 0;
    left: 0;
    width: 600px;
}

.shadow {
    width: 380px;

    height: 530px;
    box-shadow: 10px 10px 50px black;
}

#hard .paraContainer u {
    color: rgb(196, 0, 0);
}
#medium .paraContainer u {
    color: rgb(119, 117, 0);
}
#easy .paraContainer u {
    color: rgb(28, 109, 28);
}

@keyframes fly {
    0% {
        transform: translateY(200%);
    }
    100% {
    }
}

@media (max-width: 1700px) {
    .redPin1 {
        top: 41%;
        left: 63%;
    }
    .redPin2 {
        top: 21%;
        left: 56%;
    }
    .redPin3 {
        top: 40%;
        left: 80%;
    }
}

@media (max-width: 1600px) {
    .redPin1 {
        top: 41%;
        left: 63%;
    }
    .redPin2 {
        top: 22%;
        left: 56%;
    }
    .redPin3 {
        top: 40%;
        left: 80%;
    }
}
@media (max-width: 1500px) {
    .redPin1 {
        top: 40%;
        left: 63%;
    }
    .redPin2 {
        top: 23%;
        left: 56%;
    }
    .redPin3 {
        top: 40%;
        left: 80%;
    }
}
@media (max-width: 1400px) {
    .redPin1 {
        top: 40%;
        left: 62%;
    }
    .redPin2 {
        top: 24%;
        left: 56%;
    }
    .redPin3 {
        top: 40%;
        left: 80%;
    }
}
@media (max-width: 1300px) {
    .redPin1 {
        top: 40%;
        left: 63%;
    }
    .redPin2 {
        top: 24.5%;
        left: 56%;
    }
    .redPin3 {
        top: 40%;
        left: 81%;
    }
}
@media (max-width: 1200px) {
    .redPin1 {
        top: 40%;
        left: 64%;
    }
    .redPin2 {
        top: 24.5%;
        left: 56%;
    }
    .redPin3 {
        top: 40%;
        left: 84%;
    }
}
@media (max-width: 1100px) {
    .redPin1 {
        top: 40%;
        left: 65%;
    }
    .redPin2 {
        top: 24.5%;
        left: 57%;
    }
    .redPin3 {
        top: 40%;
        left: 87%;
    }
}
@media (max-width: 1000px) {
    .redPin1 {
        top: 40%;
        left: 67%;
    }
    .redPin2 {
        top: 24.5%;
        left: 58%;
    }
    .redPin3 {
        top: 40%;
        left: 90%;
    }
}
