@font-face {
    font-family: Kalam;
    src: url("../assets/fonts/Kalam-Regular.ttf");
}

.map {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../assets/images/map.jpg");
    background-size: cover;
    background-position: center;
    animation: unblur 1.5s linear;
    animation-fill-mode: forwards;
    z-index: -1;
}

@keyframes unblur {
    0% {
    }
    100% {
        filter: blur(0);
    }
}
.redPin1 {
    position: absolute;
    top: 41%;
    left: 63%;
    cursor: pointer;
    opacity: 0.9;
}
.redPin2 {
    position: absolute;
    top: 19%;
    left: 57%;
    cursor: pointer;
    opacity: 0.9;
}
.redPin3 {
    position: absolute;
    top: 40%;
    left: 81%;
    cursor: pointer;
    opacity: 0.9;
}

.redPin1:hover {
    opacity: 1;
}
.redPin2:hover {
    opacity: 1;
}
.redPin3:hover {
    opacity: 1;
}

.noteContainer {
    width: 250px;
    height: 250px;
    position: fixed;
    top: 60%;
    left: 30%;
    transform: rotate(-1deg);
    animation: fly 0.1s linear;
}
.paraContainer {
    position: absolute;
    top: 10px;
    font-family: Kalam;
    transform: skew(-2deg, -2deg);
}

.stickyNote {
    position: absolute;
    top: -80px;
    left: -70px;
    width: 400px;
    height: 400px;
}

@keyframes fly {
    0% {
        transform: translateY(200%);
    }
    100% {
    }
}

@media (max-width: 1700px) {
    .redPin1 {
        top: 41%;
        left: 63%;
    }
    .redPin2 {
        top: 21%;
        left: 56%;
    }
    .redPin3 {
        top: 40%;
        left: 80%;
    }
}

@media (max-width: 1600px) {
    .redPin1 {
        top: 41%;
        left: 63%;
    }
    .redPin2 {
        top: 22%;
        left: 56%;
    }
    .redPin3 {
        top: 40%;
        left: 80%;
    }
}
@media (max-width: 1500px) {
    .redPin1 {
        top: 40%;
        left: 63%;
    }
    .redPin2 {
        top: 23%;
        left: 56%;
    }
    .redPin3 {
        top: 40%;
        left: 80%;
    }
}
@media (max-width: 1400px) {
    .redPin1 {
        top: 40%;
        left: 62%;
    }
    .redPin2 {
        top: 24%;
        left: 56%;
    }
    .redPin3 {
        top: 40%;
        left: 80%;
    }
}
@media (max-width: 1300px) {
    .redPin1 {
        top: 40%;
        left: 63%;
    }
    .redPin2 {
        top: 24.5%;
        left: 56%;
    }
    .redPin3 {
        top: 40%;
        left: 81%;
    }
}
@media (max-width: 1200px) {
    .redPin1 {
        top: 40%;
        left: 64%;
    }
    .redPin2 {
        top: 24.5%;
        left: 56%;
    }
    .redPin3 {
        top: 40%;
        left: 84%;
    }
}
@media (max-width: 1100px) {
    .redPin1 {
        top: 40%;
        left: 65%;
    }
    .redPin2 {
        top: 24.5%;
        left: 57%;
    }
    .redPin3 {
        top: 40%;
        left: 87%;
    }
}
@media (max-width: 1000px) {
    .redPin1 {
        top: 40%;
        left: 67%;
    }
    .redPin2 {
        top: 24.5%;
        left: 58%;
    }
    .redPin3 {
        top: 40%;
        left: 90%;
    }
}
