.map {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../assets/images/map.jpg");
    background-size: cover;
    background-position: center;
    animation: unblur 1.5s linear;
    filter: blur(10px);
    animation-fill-mode: forwards;
}
video {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes unblur {
    0% {
    }
    100% {
        filter: blur(0);
    }
}
.redPin1 {
    position: fixed;
    top: 40%;
    left: 63%;
    cursor: pointer;
    opacity: 0.9;
}
.redPin2 {
    position: fixed;
    top: 24%;
    left: 56%;
    cursor: pointer;
    opacity: 0.9;
}
.redPin3 {
    position: fixed;
    top: 40%;
    left: 80%;
    cursor: pointer;
    opacity: 0.9;
}
.greenPin {
    position: fixed;
    top: 30%;
    left: 20%;
    cursor: pointer;
}
.redPin1:hover {
    opacity: 1;
}
.redPin2:hover {
    opacity: 1;
}
.redPin3:hover {
    opacity: 1;
}
